{% extends 'catalogue/base_catalogue.html' %}



{% block title %} 
    {{product.title}}
{% endblock %}


{% block data %}
    {# for pi in product.images.all  #}
        <!-- <img src="{{ pi.image.url }}"> -->
    {# endfor #}
    <h3> {{product.title|title}} </h3>
    <p>  {{product.description|truncatewords:5}} </p>
    <p>$ {{product.stock.price}} </p>

    <form method="post" action="{% url 'add-to-basket' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
        <button type="submit">Add to Basket</button>
    </form>

{% endblock %}